body{
  background: linear-gradient(90deg, #00657c, #0D0A0b);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container{
  width: 400px;
  height: 600px;
  min-height: 600px;
  min-width: 400px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 10px;
}

.container> .top{
  width: 100%;
  height: 100px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.container> .top> input{
    width: 60%;
    height: 60px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0 15px;
    margin: 10px;
}

.container> .top> button{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: none;
  outline: none;
}

.container> .icon{
  width: 100%;
  height: 200px;
  /* background-color: azure; */
  display: flex;
  justify-content: center;
}

.container> .icon> img{
  height: 100%;
  aspect-ratio: 1/1;
}

.container> .info{
  width: 100%;
  height: 170px;
  text-align: center;
  /* background-color: blueviolet; */
}

 .container> .info> h1{
  font-size: 72px;
  margin: 0;
}

.container> .info> h3{
  font-size: 42px;
  margin: 0;
} 



.container> .otherinfo{
  width: 100%;
  height:130px;
  /* background-color: red; */
  display: flex;
}
.container> .otherinfo> .humidity, .container> .otherinfo> .wind{
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
}

.container> .otherinfo> .humidity> img,
.container> .otherinfo> .wind> img{
  width: 40px;
  height: 40px;
  margin: 45px 20px;
} 


.container> .otherinfo> .humidity> .huminfo,
.container> .otherinfo> .wind .windinfo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container> .otherinfo> .humidity h4,
.container> .otherinfo> .wind h4{
  margin: 0;
  font-size: 18px;
}

.container> .otherinfo> .humidity h5,
.container> .otherinfo> .wind h5{
  margin: 0;
  font-size: 16px;
}


